

body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
}



/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#F08568;
  border:0;
  padding-left: 20px;
  padding-right:20px;
  color:#ffffff;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#35424a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#F08568 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#F08568;
  font-weight:bold;
}
header a:active{
  color:#F08568;

}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

/* Showcase */
#showcase{
  background-repeat: no-repeat;
  text-align:center;
  color:#ffffff;
  height: 600px;
  background-image:url(../Imagenes/E4.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#showcase h1{
  margin-top:100px;
  font-size:55px;
  margin-bottom:10px;
  text-shadow: 2px 2px black;
}

#showcase p{
  font-size:20px;
  text-shadow: 2px 2px black;
}

/* Newsletter */

#newsletter{
  padding:15px;
  color:#ffffff;
  background:#35424a
  
}

#newsletter h1{
  float:left;
text-shadow: 2px 2px black;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */

#cajas{
  margin-top:20px;
  background:#35424a;
}

#cajas h2{
  color:#F08568;
}

#cajas p{
  color:white;
}



#boxes{
  margin-top:20px;
  background:#35424a;
}

#boxes1{
  margin-top:20px;
}

#boxes1 .box1{
  float:left;
  text-align: center;
  color:black;
  width:30%;
  padding:10px;
  margin-top:6px;  
}

#boxes1 .box1 h3{
  color:#35424a;
}

#boxes1 .box1 img{
  width:90px;
  border: 1px solid black;
}

#boxes .box{
  float:left;
  text-align: center;
  color:white;
  width:30%;
  padding:10px;
  margin-top:6px;  
}

#boxes .box h3{
  color:#F08568;
}

#boxes .box img{
  width:90px;
  border: 1px solid black;
}

/* Vinculos */
a {
    color: #F08568;
    text-decoration:none
}

/* Footer */

footer{
  padding: 20px;
  margin-top: 20px;
  color:#ffffff;
  background-color: #F08568;
  text-align: center;
}
